{{#if user}}
<div>
<h1 > {{message}} {{welcome}} </h1></div>

<a href="/api/users/inicio" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" >Ir a login </a> 
{{else}}
   <form action="/api/users/registro" enctype="multipart/form-data" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" > usuario</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
   
  </div>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" >email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
   
  </div>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" > Primer nombre </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="firstName">
   
  </div>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> apellido </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="lastName">
   
  </div>
  </div>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> edad </label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Age">
   
  </div>
  </div>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> Telefono </label>
    <input type="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="phone" placeholder=" xxx xxx xx xx">
   
  </div>
     <div class="mb-3">
  <select id="pais" name="country">
<option value="">SELECCIONE UN PAIS</option>
<option value=" +54 ">ARGENTINA</option>
<option value=" +56 ">CHILE</option>
<option value=" +52 ">MEXICO</option>
<option value=" +49 ">ALEMANIA</option>
<option value=" +61 ">AUSTRALIA	</option>
<option value=" +43">AUSTRIA</option>
<option value=" +32 ">BELGICA</option>
<option value=" +359">BULGARIA</option>
<option value=" +1 ">CANADA</option>
<option value="+57">COLOMBIA</option>
<option value=" +385" >CROACIA </option>
<option value=" +421">ESLOVAQUIA</option>
<Option value=" +386">ESLOVENIA</Option>
<Option value=" +34" > ESPAÑA </Option>
<Option value=" +1 " >ESTADOS UNIDOS</Option>
<option value=" +372">ESTONIA</option>
<Option value= "+ 358">FINLANDIA</Option>
<Option value=" +33 ">FRANCIA</Option>
<option value=" +30">GRECIA</option>
<Option value=" +31">HOLANDA</Option>
<option value="+353" >IRLANDA</option>
<Option value= "+354 ">ISLANDIA</Option>
<option value=" +39"> ITALIA</option>
<Option value=" +371">LETONIA</Option>
<option value=" +370">LITUANIA</option>
<option value=" +352">LUXEMBURGO</option>
<option value=" +356">MALTA</option>
<option value=" +212">MARRUECOS</option>
<option value=" +47  ">NORUEGA</option>
<option value= "+48  ">POLONIA</option>
<option value= "+351">PORTUGAL</option>
<option value="+44">REINO UNIDO</option> 
<option value="+7">RUSIA</option>
<option value="+46">SUECIA</option>
<option value="+41"> SUIZA</option>
<option value="+ 58"> VENEZUELA</option>
</select>
</div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  
   </div>
     <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"> sube tu avatar</label>
    <input type="file" class="form-control" id="exampleInputPassword1" name="Avatar">
  </div>
  
   </div>
  
  <button type="submit" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" value="send">Submit</button>
</form> 
  
  {{/if}}

