<div>
<h1 > Su compra ha sido enviada satisfactoriamente </h1>

<a href="/api/users/home" class="btn btn-dark " tabindex="-1" role="button" aria-disabled="true">volver </a> 
</div>
<script type = "text/javascript" >
 setTimeout(() => {
    window.location.href = "http://localhost:8080/api/users/home" 
},2000)
   

</script>