  <form action="/api/carro/eliminar" method="POST">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Ingrese Id del producto</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="id">
  </div>  
  <button type="submit" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" value="send">enviar</button>

</form>