    
    <div class="d-flex align-items-center">
  <strong>{{Mensaje}}</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
<div class="d-grid gap-2">
</div>
<script type = "text/javascript" >
 setTimeout(() => {
    window.location.href = "http://localhost:8080/api/productos/Listado" 
},2000)
   

</script>