    
    <div class="d-flex align-items-center">
  <h1>{{Mensaje}}</h1><span class="badge bg-secondary">&#128542</span>

</div>
<div class="d-grid gap-2">
</div>
<script type = "text/javascript" >
 setTimeout(() => {
    window.location.href = "http://localhost:8080/api/productos/Listado" 
},2000)
   

</script>