<div>
    
<h1>Gracias por tu compra <span class="badge bg-secondary">&#128525</span></h1>


</div>
<script type = "text/javascript" >
 setTimeout(() => {
    window.location.href = "http://localhost:8080/api/users/home" 
},2000)
   

</script>